Hypothesis:
- H0 - variables are not statistically significant for impacting height
- H1 - variables are statistically significant for impacting height

Criteria:
 - p-value<=0.05 - Reject the null hypothesis H0 - statistically significant for impacting heigh
 - p_value>0.05 - Fail to reject the null hypothesis H0 - not statistically significant for impacting height

In [31]:
#Importing libraries for data manipulation
import pandas as pd
import numpy as np

#Importing libraries for ANOVA
from statsmodels.stats.anova import anova_lm

#Importing libraries for OLS
from statsmodels.formula.api import ols

In [32]:
#Creating data
df = pd.DataFrame({'water': np.repeat(['daily', 'weekly'], 15),
                   'sun': np.tile(np.repeat(['low', 'med', 'high'], 5), 2),
                   'height': [6, 6, 6, 5, 6, 5, 5, 6, 4, 5,
                              6, 6, 7, 8, 7, 3, 4, 4, 4, 5,
                              4, 4, 4, 4, 4, 5, 6, 6, 7, 8]})

In [38]:
#Checking data
df

     water   sun  height
0    daily   low       6
1    daily   low       6
2    daily   low       6
3    daily   low       5
4    daily   low       6
5    daily   med       5
6    daily   med       5
7    daily   med       6
8    daily   med       4
9    daily   med       5
10   daily  high       6
11   daily  high       6
12   daily  high       7
13   daily  high       8
14   daily  high       7
15  weekly   low       3
16  weekly   low       4
17  weekly   low       4
18  weekly   low       4
19  weekly   low       5
20  weekly   med       4
21  weekly   med       4
22  weekly   med       4
23  weekly   med       4
24  weekly   med       4
25  weekly  high       5
26  weekly  high       6
27  weekly  high       6
28  weekly  high       7
29  weekly  high       8

In [40]:
df.keys()

Index(['water', 'sun', 'height'], dtype='object')

In [53]:
#Performing OLS
model = ols('height ~ sun + water', data=df).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 height   R-squared:                       0.686
Model:                            OLS   Adj. R-squared:                  0.650
Method:                 Least Squares   F-statistic:                     18.96
Date:                Sat, 03 Apr 2021   Prob (F-statistic):           1.00e-06
Time:                        14:01:30   Log-Likelihood:                -32.435
No. Observations:                  30   AIC:                             72.87
Df Residuals:                      26   BIC:                             78.48
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept           7.1333      0.280     25.494      0.000       6.558       7.708
sun[T.low]         -1.7000      0.343     -4.961      0.000      -2.404      -0.996
sun[T.med]         -2.1000      0.343     -6.128      0.000      -2.804      -1.396
water[T.weekly]    -1.0667      0.280     -3.812      0.001      -1.642      -0.492
==============================================================================
Omnibus:                        1.271   Durbin-Watson:                   1.353
Prob(Omnibus):                  0.530   Jarque-Bera (JB):                0.432
Skew:                           0.235   Prob(JB):                        0.806
Kurtosis:                       3.354   Cond. No.                         4.22
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [54]:
#Two way anova
anova_lm(model, typ = 2)

             sum_sq    df          F    PR(>F)
sun       24.866667   2.0  21.174672  0.000003
water      8.533333   1.0  14.532751  0.000762
Residual  15.266667  26.0        NaN       NaN